div.content{
	background-color:#87ceeb;
	top: 0px;
	height: 130px;
	width:600px;
	border:5px solid #000;
	float: left;
	margin: 20px;
	padding: 0px;
	display: flex
	
}
div.content .box h2{
	text-align: right;

}
div.content1 .box1 h2{
	text-align: right;

}

div.content1 .box1{
	float: right;
	background-color:#87ceeb;
	border:5px solid #000;
	width:auto;

	
}
h1{
	font-weight: solid;
	text-align: center;
	background-color: 
}
