div.content{
	background-color:#87ceeb;
	top: 10px;
	height: 140px;
	width:1250px;
	border:5px solid #000;
	float: left;
	margin: 20px;
	padding: 0px;
	display: flex;
	position: relative;
	
}
div.content .box h2{
	text-align: right;
	top: 0px;
}
h1{
	font-weight: solid;
	text-align: center;
	background-color: 
}
